<%- include('./partials/header.ejs') %>
<div class="box">
    <form>
        <div class="form-group">
            <h1><%= singleCompose %> <h1>
        </div>
        <div class="form-group">
            <p><%= singlePost %> </p>
        </div>
    </form>
</div>
<%- include('./partials/footer.ejs') %>